.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  padding: 10px 20px;
  height: 60px; /* 高さを固定 */
}

.logo {
  cursor: pointer;
}

.ohako-logo {
  height: 60px; /* 縦の長さを40pxに設定 */
  width: auto; /* アスペクト比を維持する */
}

.search-container {
  position: relative;
  width: 30%; /* 幅を30%に調整 */
  margin-left: auto; /* 左側にマージンを追加 */
  margin-right: 20px; /* 右側のマージンを追加 */
}

.search-input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
}

.suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

.loading, .no-suggestions {
  padding: 10px;
  text-align: center;
}

.user-profile {
  margin-left: 20px;
  cursor: pointer;
}

.profile-container {
  display: flex;
  align-items: center;
}

.profile-image-container {
  width: 44px; /* 画像サイズ + 4px (2pxのボーダーが左右に追加される) */
  height: 44px; /* 画像サイズ + 4px (2pxのボーダーが上下に追加される) */
  padding: 2px; /* 白い円の幅 */
  background-color: white; /* 白い円の背景色 */
  border-radius: 50%; /* 円形にする */
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
