.user-profile {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.profile-card {
  background-color: #333;
  color:#ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
  margin-bottom: 200px;
}

.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.profile-image-container {
  position: relative;
}

.profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  cursor: pointer;
}

.profile-image-input {
  display: none;
}

.username-container {
  margin-top: 10px;
}

.edit-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.follow-data {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}

.follow-data div {
  cursor: pointer;
}

.user-profile-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 30px;
  border-radius: 10px;
  outline: none;
  width: 80%;
  max-width: 500px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.user-list-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-list-item img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-list-item span {
  cursor: pointer;
}

.user-profile-modal-content button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}